

#particles-js{
    background-color: black;
    height: 100%;
}
.section-home{
    min-height: 100vh;
    background-color: transparent;
}
.section-home .container{
    padding-top: 2rem;
    max-height: 600px;
    min-height: 600px;   
}

.section-aboutme{
    padding: 1rem;
}

.section-aboutme .row{
    margin-top: 1rem;
}

.img-aboutme{
    width: 30%;
}

.section-study{
    padding: 2rem;
   
}

.section-study .container .row .col .container{
    margin: 2rem;
   
}

.section-skill-work .row{

    padding-top: 10rem;
}

.section-contact{
    margin-top: 2rem;
    padding: 2rem;
}