body{
    background-color: #e3e3e3;
}

h1, h2, h3{
    line-height: 5rem;
}


.container h1{
    font-size: 72px;
}

.container h2{
    font-size: 48px;
}

p {
    font-size: 20px;
}

.thin {
    /* Montserrat Thin = 100 */
    font-weight: 100;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.extralight {
    /* Montserrat Extra Light = 200 */
    font-weight: 200;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.light {
    /* Montserrat Light = 300 */
    font-weight: 300;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.regular {
    /* Montserrat Regular = 400 */
    font-weight: 400;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.medium {
    /* Montserrat Medium = 500 */
    font-weight: 500;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.semibold {
    /* Montserrat Semi-bold = 600 */
    font-weight: 600;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.bold {
    /* Montserrat Bold = 700 */
    font-weight: 700;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.extrabold {
    /* Montserrat Extra Bold = 800 */
    font-weight: 800;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.black {
    /* Montserrat Black = 900 */
    font-weight: 900;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

#particles-js{
    background-color: black;
    height: 100%;
}
.section-home{
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1604879616509-d841eec0ca4e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    
}

.section-home h1, h2{
    line-height: 3.5rem;
}

.section-home .container{
    padding-top: 2rem;
    max-height: 600px;
    min-height: 600px;   
}

.section-home button{
    margin-top: 0.9rem;
}

.section-aboutme{
    
    
}

.section-aboutme .row{
    margin-top: 0.1rem;
}



.img-aboutme{
    width: 30%;
}


.section-aboutme .card{
    width: 8rem;
    margin: 0.5rem;
}

.section-aboutme .card-img-overlay{
    
    background-color: rgba(0, 0, 0, 0.4);
}


.section-study{
    padding: 2rem;
   
}

.section-study .container .row .col .container{
    margin: 2rem;
   
}

.section-skill-work h3{

    line-height: 2.5rem;
}

.section-skill-work .col button{

    margin: 0.1rem;
}

.section-contact{
    background-image: url("https://images.unsplash.com/photo-1604879616509-d841eec0ca4e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    
    
    
}

@media (max-width: 700px) {
    .container h1{
        font-size: 50px;
    }
    
}